---
layout: layouts/base.njk
title: Home
---

{% include "components/hero.njk" %}

{% include "components/research.njk" %}

{% include "components/projects.njk" %}

{% include "components/publications.njk" %}
