<button id="to-top-button" class="animate-bounce opacity-0 pointer-events-none fixed z-50 bottom-10 right-10 p-4 border-0 w-14 h-14 rounded-full shadow-md bg-purple-600 hover:bg-purple-700 text-white text-lg font-semibold transition-opacity duration-300">
    <i class="text-white-500 fa-solid fa-arrow-up"></i>
    <span class="sr-only">Go to top</span>
</button>